<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Image Card row-->
<!-- ============================================================== -->
<div fxLayout="row wrap">
  <div fxFlex.gt-lg="50" fxFlex.gt-md="50" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card class="oh text-center little-profile">
      <img
        mat-card-image
        src="assets/images/background/profile-bg.jpg"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <div class="pro-img">
          <img
            src="assets/images/users/4.jpg"
            width="100"
            alt="user"
            class="img-circle"
          />
        </div>
        <mat-card-actions>
          <a href="login" mat-button color="warn">Account Details</a>
        </mat-card-actions>
        <h3 class="m-b-0">Placeholder Name</h3>
        <mat-tab-group>
          <mat-tab label="First" *ngFor="let tab of tabs">
            <div fxLayout="row" fxLayoutWrap="wrap" class="m-t-30">
              <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                <h3 class="m-0 font-light">Placeholder Account Type</h3>
                <small>Account Type</small>
              </div>
              <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                <h3 class="m-0 font-light">Placeholder Account Name</h3>
                <small>Account Name</small>
              </div>
              <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                <h3 class="m-0 font-light">Placeholder Account Number</h3>
                <small>Account Number</small>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- column -->
  <!-- column -->
  <div fxFlex.gt-lg="50" fxFlex.gt-md="50" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card [style.overflow-y]="'auto'" [style.height.px]="'600'">
      <mat-card-content>
        <div class="d-flex no-blcok">
          <div class="m-r-20">
            <img
              class="img-circle"
              width="50"
              src="assets/images/users/1.jpg"
              alt="Image"
            />
          </div>
          <div class="p-b-20 b-b m-b-30">
            <h4 class="m-0">
              Nirav joshi
              <small class="text-muted">(5 minute ago)</small>
            </h4>
            <p class="text-muted">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
              nec odio. Praesent libero.
            </p>
          </div>
        </div>
        <div class="d-flex no-blcok">
          <div class="m-r-20">
            <img
              class="img-circle"
              width="50"
              src="assets/images/users/1.jpg"
              alt="Image"
            />
          </div>
          <div class="p-b-20 b-b m-b-30">
            <h4 class="m-0">
              Nirav joshi
              <small class="text-muted">(5 minute ago)</small>
            </h4>
            <p class="text-muted">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
              nec odio. Praesent libero.
            </p>
          </div>
        </div>
        <div class="d-flex no-blcok">
          <div class="m-r-20">
            <img
              class="img-circle"
              width="50"
              src="assets/images/users/1.jpg"
              alt="Image"
            />
          </div>
          <div class="p-b-20 b-b m-b-30">
            <h4 class="m-0">
              Nirav joshi
              <small class="text-muted">(5 minute ago)</small>
            </h4>
            <p class="text-muted">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
              nec odio. Praesent libero.
            </p>
          </div>
        </div>
        <div class="d-flex no-blcok">
          <div class="m-r-20">
            <img
              class="img-circle"
              width="50"
              src="assets/images/users/1.jpg"
              alt="Image"
            />
          </div>
          <div class="p-b-20 b-b m-b-30">
            <h4 class="m-0">
              Nirav joshi
              <small class="text-muted">(5 minute ago)</small>
            </h4>
            <p class="text-muted">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
              nec odio. Praesent libero.
            </p>
          </div>
        </div>
        <div class="d-flex no-blcok">
          <div class="m-r-20">
            <img
              class="img-circle"
              width="50"
              src="assets/images/users/1.jpg"
              alt="Image"
            />
          </div>
          <div class="p-b-20 b-b m-b-30">
            <h4 class="m-0">
              Nirav joshi
              <small class="text-muted">(5 minute ago)</small>
            </h4>
            <p class="text-muted">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
              nec odio. Praesent libero.
            </p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<!-- ============================================================== -->
<!-- Chart row-->
<!-- ============================================================== -->
<div fxLayout="row wrap">
  <!-- column -->
  <div fxFlex.gt-lg="60" fxFlex.gt-md="60" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <div class="d-flex flex-wrap">
          <div>
            <mat-card-title>Monthly Overview</mat-card-title>
            <mat-card-subtitle>Placeholder</mat-card-subtitle>
          </div>
          <div class="ml-auto">
            <ul class="list-inline">
              <li>
                <h6 class="text-success m-0">
                  <i class="mdi mdi-checkbox-blank-circle font-10 m-r-10 "></i
                  >Ample
                </h6>
              </li>
              <li>
                <h6 class=" text-info m-0">
                  <i class="mdi mdi-checkbox-blank-circle font-10 m-r-10"></i
                  >Pixel
                </h6>
              </li>
            </ul>
          </div>
        </div>

        <div class="barchrt" style="height:360px;">
          <x-chartist
            class=""
            [data]="barChart1.data"
            [type]="barChart1.type"
            [options]="barChart1.options"
            [responsiveOptions]="barChart1.responsiveOptions"
            [events]="barChart1.events"
          >
          </x-chartist>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- column -->
  <!-- column -->
  <div fxFlex.gt-lg="40" fxFlex.gt-md="40" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <mat-card-title>Expenditure</mat-card-title>
        <mat-card-subtitle>Percentage</mat-card-subtitle>
        <div class="piechart">
          <x-chartist
            class=""
            [data]="donuteChart1.data"
            [type]="donuteChart1.type"
            [options]="donuteChart1.options"
            [responsiveOptions]="donuteChart1.responsiveOptions"
            [events]="donuteChart1.events"
          >
          </x-chartist>
        </div>
      </mat-card-content>
      <hr />
      <mat-card-content>
        <ul class="list-inline text-center">
          <li>
            <h6 class="text-success m-0">
              <i class="mdi mdi-checkbox-blank-circle font-8 m-r-10 "></i>ATM
            </h6>
          </li>
          <li>
            <h6 class="text-info  m-0">
              <i class="mdi mdi-checkbox-blank-circle font-8 m-r-10"></i>Food
            </h6>
          </li>
          <li>
            <h6 class="text-purple  m-0">
              <i class="mdi mdi-checkbox-blank-circle font-8 m-r-10"></i>Leisure
            </h6>
          </li>
          <li>
            <h6 style="color: #ff9900;" class="m-0">
              <i class="mdi mdi-checkbox-blank-circle font-8 m-r-10"></i
              >Transport
            </h6>
          </li>
          <li>
            <h6 style="color: #d9d9d9;" class="m-0">
              <i class="mdi mdi-checkbox-blank-circle font-8 m-r-10"></i>Others
            </h6>
          </li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- column -->
</div>
